# Pandas


---

#### Exercise 1.1
##### Create a DataFrame by reading in the `2019_Yellow_Taxi_Trip_Data.csv` file. Examine the first 5 rows.

In [5]:
import pandas as pd

df = pd.read_csv('data/2019_Yellow_Taxi_Trip_Data.csv')
df.head()

,vendorid,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,ratecodeid,store_and_fwd_flag,pulocationid,dolocationid,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,2,2019-10-23T16:39:42.000,2019-10-23T17:14:10.000,1,7.93,1,N,138,170,1,29.5,1.0,0.5,7.98,6.12,0.3,47.90,2.5
1,1,2019-10-23T16:32:08.000,2019-10-23T16:45:26.000,1,2.00,1,N,11,26,1,10.5,1.0,0.5,0.00,0.00,0.3,12.30,0.0
2,2,2019-10-23T16:08:44.000,2019-10-23T16:21:11.000,1,1.36,1,N,163,162,1,9.5,1.0,0.5,2.00,0.00,0.3,15.80,2.5
3,2,2019-10-23T16:22:44.000,2019-10-23T16:43:26.000,1,1.00,1,N,170,163,1,13.0,1.0,0.5,4.32,0.00,0.3,21.62,2.5
4,2,2019-10-23T16:45:11.000,2019-10-23T16:58:49.000,1,1.96,1,N,163,236,1,10.5,1.0,0.5,0.50,0.00,0.3,15.30,2.5

In [6]:
assert type(df) == pd.core.frame.DataFrame

#### Exercise 1.2
##### Find the dimensions (number of rows and number of columns) in the data.

In [10]:
shape = df.shape

In [11]:
assert shape == (10000, 18)

#### Exercise 1.3
##### Using the data in the `2019_Yellow_Taxi_Trip_Data.csv` file, calculate summary statistics for the `fare_amount`, `tip_amount`, `tolls_amount`, and `total_amount` variables.
As a minimum you should calculate maen, median and variance for each variables.

In [19]:
# fare_amount
fare_amount_mean = df.fare_amount.mean()
fare_amount_median = df.fare_amount.median()
fare_amount_variance = df.fare_amount.var()

In [23]:
# tip_amount
tip_amount_mean = df.tip_amount.mean()
tip_amount_median = df.tip_amount.median()
tip_amount_variance = df.tip_amount.var()

In [24]:
# tolls_amount
tip_amount_mean = df.tolls_amount.mean()
tip_amount_median = df.tolls_amount.median()
tip_amount_variance = df.tolls_amount.var()

In [26]:
# total_amount
total_amount_mean = df.total_amount.mean()
total_amount_median = df.total_amount.median()
total_amount_variance = df.total_amount.var()

In [36]:
assert fare_amount_mean == 15.106313
assert tip_amount_median == 0.0
assert int(tip_amount_variance) == 41
assert int(total_amount_mean) == 22

#### Exercise 1.4
##### Isolate the `fare_amount`, `tip_amount`, `tolls_amount`, and `total_amount` for the longest trip by distance (`trip_distance`).

In [43]:
longest_trip = df.loc[df.trip_distance.idxmax()]

In [45]:
longest_trip_fare_amount = longest_trip.fare_amount
longest_trip_tip_amount = longest_trip.tip_amount
longest_trip_tolls_amount = longest_trip.tolls_amount
longest_trip_total_amount = longest_trip.total_amount

In [50]:
assert longest_trip_fare_amount == 176.0
assert longest_trip_tip_amount == 18.29
assert longest_trip_tolls_amount == 6.12
assert longest_trip_total_amount == 201.21